* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  margin: 0 !important;
  padding: 0 !important;

  background: linear-gradient(135deg, #0f172a, #1e3a8a, #312e81);
}

#root {
  min-height: 100vh;
}

html, body, #root {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}